<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Название по умолчанию{% endblock %}</title>

    <!-- Глобальные стили Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Локальные стили (добавляются в дочерних шаблонах) -->
    {% block style %}
    {% endblock %}
</head>
<body>

<!-- ШАПКА -->
<header class="bg-primary text-white py-3 mb-4">
    <div class="container">
        <h1 class="h3">🌍 DjangoCountries</h1>
        <nav>
            <a href="/" class="text-white me-3">Главная</a>
            <a href="{% url 'countries-list' %}" class="text-white me-3">Страны</a>
            <a href="{% url 'languages-list' %}" class="text-white me-3">“Языки</a>
            <a href="/about" class="text-white">О проекте</a>
        </nav>
    </div>
</header>

<!-- ОСНОВНОЙ КОНТЕНТ -->
<main class="container">
    {% block content %}{% endblock %}
</main>

<!-- FOOTER -->
<footer class="bg-light text-center text-muted py-3 mt-5">
    <div class="container">
        <p>© 2025 DjangoCountries. Все права защищены.</p>
    </div>
</footer>

</body>
</html>