{% extends 'MainApp/base.html' %}
{% block title %}Countries{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">Список стран</h1>

        <ol class="list-group list-group-numbered">
            {% for item in countries %}
                <li class="list-group-item">
                    <a href="{% url 'country-detail' slug=item.slug %}">
                        {{ item.country }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}